DATABASE_URL=

#BetterAuth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# ImgBB image hosting
IMGBB_UPLOAD_URL=
IMGBB_API_KEY=


# Resend
RESEND_FROM_EMAIL=
RESEND_API_KEY=


#social login
#GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#
IMGBB_FALLBACK_LOCAL=


# Created by Vercel CLI
VERCEL_OIDC_TOKEN=
